{% macro render(assets) %}
  <script type="module">
    import PhotoSwipeLightbox from "{{ get_url(path="photoswipe-lightbox.esm.min.js") }}";
    import PhotoSwipe from "{{ get_url(path="photoswipe.esm.min.js") }}";

    const lightbox = new PhotoSwipeLightbox({
      gallery: ".gallery",
      children: "a",
      showHideAnimationType: 'fade',
      pswpModule: PhotoSwipe,
    });

    lightbox.init();
  </script>

  <div class="gallery">
    {%- for path in section.assets | sort -%}
      {%- if path is matching("[.](jpg|jpeg)$") -%}
        {%- set orig = get_image_metadata(path=path) -%}
        {%- set orig_path = get_url(path=path) -%}
        {%- set thumb_s = resize_image(path=path, width=480, height=720, op="fit") -%}
        {%- set thumb_m = resize_image(path=path, width=720, height=1280, op="fit") -%}
        {%- set thumb_l = resize_image(path=path, width=1440, height=2560, op="fit") -%}

        <a href="{{ orig_path | safe }}"
           target="_blank"
	   data-pswp-srcset="{{ thumb_s.url | safe }} {{ thumb_s.width }}w, {{ thumb_m.url | safe }} {{ thumb_m.width }}w, {{ thumb_l.url | safe }} {{ thumb_l.width }}w, {{ orig_path }} {{ orig.width }}w"
           data-pswp-width="{{ orig.width }}"
           data-pswp-height="{{ orig.height }}"
           >
          <img src="{{ thumb_s.url | safe }}"
	       srcset="{{ thumb_s.url | safe }} {{ thumb_s.width }}w, {{ thumb_m.url | safe }} {{ thumb_m.width }}w, {{ thumb_l.url | safe }} {{ thumb_l.width }}w, {{ orig_path }} {{ orig.width }}w"
               width="{{ thumb_s.width }}"
               height="{{ thumb_s.height }}"
               />
        </a>
      {%- endif %}
    {%- endfor %}
  </div>
{% endmacro render %}
