Redirect temp /resume.html http://drsr.me/
Redirect temp /housewarming /housewarming.html
Redirect temp /hwp /housewarming.html
Redirect temp /covid https://docs.google.com/document/d/10Ahi3eT4xP3s6cNtOEfRj2XwLdUyc77TNlAuTLogcTU/edit
Redirect temp /ok https://docs.google.com/document/d/105KwrVLB4Ho_70voI_EWjk5Jv2O97nJ1l_4iYSd3NX8/edit
Redirect temp /postcard https://forms.gle/rWpqpQFXH5dAinKM6
