Redirect temp /resume.html http://drsr.me/
Redirect temp /purpose /purpose.html
Redirect temp /housewarming /housewarming.html
Redirect temp /hwp /housewarming.html
Redirect temp /covid https://docs.google.com/document/d/10Ahi3eT4xP3s6cNtOEfRj2XwLdUyc77TNlAuTLogcTU/edit
Redirect temp /postcard https://forms.gle/rWpqpQFXH5dAinKM6
Redirect temp /us-protest-faq https://docs.google.com/document/d/1SXDjIcua2r1D78debdJOXRxx7_jO11zDMtRYQwqfXE4/edit
Redirect temp /style /style.html
Redirect temp /vo https://auburnvo.org/
